<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C57CCA101EC5E708009F175D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57CCA241EC5E708009F175D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57CCA2F1EC5E708009F175D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
